.social-media-box {
  display: flex;
  align-items: center;
  position: absolute;
  right: -2.5vw;
  top: 50%;
  transform: rotate(270deg);
  a {
    transform: rotate(90deg);
    box-sizing: content-box;
    display: inline-block;
    text-decoration: none;
    margin: 0 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50rem;
    color: $primary-color !important;
    border: 2px solid currentColor;
    padding: 1.5rem;
    transition: all 0.35s ease-in-out;
    &:hover {
      color: $secondary-color;
    }
  }
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
.btn-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-left: 1rem;
  initial-letter: inherit;
}
.local-icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: $primary-color;
  margin-right: 1.5rem;
}
.popUp-icon {
  fill: $secondary-color;
  margin-bottom: 2.5rem;
}
.icon-gallery {
  fill: $gray-light-color;
  min-width: 2.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
