.margin-2-y {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.margin-4-y {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.margin-5-y {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.margin-2-x {
  margin-left: 2rem;
  margin-right: 2rem;
}
.margin-2-x-left {
  margin-left: 2rem;
}

.margin-2-x-right {
  margin-right: 2rem;
}
